<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="01/01/2024 06:30:00" createdAt="01/12/2023" notes="Liburan Murah ke Gunung Bromo"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updatedAt="01/01/2024 07:30:00" createdAt="01/12/2023" notes="Explore Gunung Bromo"></app-pickup-call-card>

  <app-pickup-call-card status="Finished" updateAt="01/01/2024 15:00:00" createdAt="01/12/2023" value="Rp950.000"></app-pickup-call-card>

</ion-content>
